// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}
footer {
		background-color: #00A49D;
		font-family: Raleway, Varela, arial, sans-serif;
		text-transform: uppercase;
		padding: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
}

h1 {
	color: #00E9DF
}

.bicycle {
	max-width: 300px
}